/*****  Fonts  *****/
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-nav: 'Source Sans Pro', sans-serif;;

/*****  Colors  *****/
$primary: #2C4058;
$secondary-black: #000000;
$secondary-white: #FFFFFF;
$secondary-data: #55B7ff;

/*****  Font-size  *****/
$fz-primary: 18px;
$fz-secondary: 44px;
$fz-navigation: 14px;
$fz-logo: 80px;
$fz-preface: 22px;
$fz-location: 15px;