/*****  Fonts  *****/
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Work Sans', sans-serif;

/*****  Colors  *****/
$colour1: #4b5d68;
$colour2: #8a40ee;
$colour3: #ffffff;
$colour4: #212353;
$colour5: #fde8f5;
$colour6: #f0faf9;
$colour7: #9c69e2;
$colour8: #ccddff;