body {width: 75%;
text-align: center;}

.first {width: 100%;
	text-indent: 50 px;
	background-color: rgba(247, 22, 22, 1);
	font-weight: bold;
	font-style: italic;
	text-decoration: line-through;
	height: 852 px;
	display: inline-block;
text-transform: capitalize;
}

.second {width: 250px;
	text-indent: 50 px;
	background-color: rgb(54, 15, 146);
	font-weight: bold;
	font-style: italic;
	text-decoration: line-through;
	height: 852 px;
	display: inline-block;
text-transform: capitalize;
border: 15px solid blue;
}

.third {width: 200px;
	background-color: rgba(247, 22, 22, 1);
	font-weight: bold;
	font-style: italic;
	text-decoration: line-through;
	height: 852 px;
	left: 0px;
	display: inline-block;
text-transform: capitalize;
text-align: right;
}